.header{
 padding: 30px;
 text-align: center;
 background: #fcc0d0;
}
.header h1{
  font-family: 'Rubik', sans-serif;
  color: #eb4335;
  font-weight: 800;
  font-size: 64px;
  text-shadow: 2px 2px white;
}

.catTitle{
  display: flex;
  justify-content: center;
}
.catTitle h2{
  font-family: 'Rubik', sans-serif;
  color: #eb4335;
  font-weight:500;
  font-size: 45px;
  text-align: center;
  display: inline-block;
  background: linear-gradient(180deg, white 70%, #fcc0d0 30%);
}

#catBolt{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*resize */
  max-width: 5%;
  height: auto;
  padding-top: 2%;
}

.subTitle{
  display: flex;
  justify-content: center;
}

.subTitle h3{
  font-family: 'Rubik', sans-serif;
  color: #eb4335;
  font-weight:500;
  font-size: 35px;
  text-align: center;
  display: inline-block;
}


.navLinks{
  margin-top: -40px;
  text-align: center;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navLinks p{
  font-family: 'Rubik', sans-serif;
  color: white;
  font-weight:500;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  padding: 5px;

}

.navLinks p:hover{
  color:#eb4335;
  background: linear-gradient(180deg, #fcc0d0 80%, white 20%);

}

.three{
  display: flex;
  justify-content:center;
}



/* three equal columns: https://www.w3schools.com/howto/howto_css_images_side_by_side.asp */
#group{
  flex: 33.33%;
padding: 5px;
  width: 10vw;
}

#image3{
  width: 10vw;
}

a{
  text-decoration: none;
  color: inherit;
}

#image{
  width: 30vw;
  padding: .5em;
  /* set to middle  */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#divider{
  display:flex;
  justify-content: center;
}

p#divider{
  color: white;
  text-decoration-line: underline;
  text-decoration-style: line;
  text-decoration-color: #eb4335;
}
#image2{
  width: 40vw;
  padding: .5em;
  /* set to middle  */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 p#left{
   text-align: left;
 }
#link{
  color: #eb4335;
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  font-size:18px;
  font-weight: 600;
}

#link:hover{
  color: #fcc0d0;
}
/* Style the buttons that are used to open and close the accordion panel, adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion */
		.accordion {
		    background-color: #fcc0d0;
		    color: white;
		    cursor: pointer;
		    padding: 18px;
		    width: 70%;
		    text-align: middle;
		    border: 1px solid white;
		    outline: none;
		    transition: 0.4s;
        /* set to middle  */
        display: block;
        margin-left: auto;
        margin-right: auto;

        /* font */
        font-family: 'Rubik', sans-serif;
        font-size: 24px;
        font-weight:400;
        font-size: 26px;
		}

		/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
		.active, .accordion:hover {
		    background-color: #ffdbe5;
		}

		/* Style the accordion panel. Note: hidden by default */
		.panel {
        width: 69%;
		    padding: 0 18px;
		    background-color: white;
		    max-height: 0;
		    overflow: hidden;
		    transition: max-height 0.2s ease-out;
        display: block;
        margin-left: auto;
        margin-right: auto;
		}

.panel p{
  color: #010b13;
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  font-size:18px;
  text-align: left;
}

		.accordion:after {
		    content: '\02795'; /* Unicode character for "plus" sign (+) */
		    font-size: 13px;
		    float: left;
		    margin-right: 5px;
		}

		.active:after {
		    content: "\2796"; /* Unicode character for "minus" sign (-) */
		}
