html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
}

/* parallax effect adapted from http://fuzzytolerance.info/blog/2013/09/20/2013-09-20-simple-header-and-footer-parallax-effect/ */
.welcome-page{
    position: fixed;
    top: 0;
    width: 100%;
    /* places behind */
    z-index: -1;
    height: 100vh;
    background-color: white;
}
/* creates space at top so welcome page can be seen*/
.wrapper-parallax {
    margin-top: 100vh;
}

.content {
    position: relative;
    /* places in front */
    z-index: 1;
    background: white;
    /* fit screen */
    min-height: 100vh;
}

/* -------------------------------- */

#bigName{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  position: relative;
  /* 5% down from original positon*/
  top: 5%;

}

#desc{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  position: relative;
  top: 5%;

}

#homeBolt{
  /* center the gif */
 display: block;
 margin-left: auto;
 margin-right: auto;
 /*resize */
 max-width: 8%;
 height: auto;
 position: relative;
 top: 10%;

}

#propic{
  /* center the gif */
 display: block;
 margin-left: auto;
 margin-right: auto;
 /*resize */
width: 15vw;
 height: auto;
 position: relative;
 top: 10px;
}

#white{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  text-align: center;
  style: italic;
  position: relative;
  /* 5% down from original positon*/
  top: 5%;
  text-align: center;
  color: white;

}

#aboutTxt{
  color: #010b13;
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  font-size:1em;
  text-align:center;
  position:relative;
  top: 5%;
  margin-left: 2%;
}


.welcome-box{
  /* center */
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  /* so text does not fill entire screen in one line */
  width: 50%;
  top: 16%;

}

#welcome-info{
  color: #010b13;
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  font-size:24px;
  text-align:center;
}

.italicR{
  font-style: italic;
  color: #eb4335;
  font-size: 26px;
}

.italicP{
  font-style: italic;
  color: #fcc0d0;
  font-size: 26px;
}
#homeArrows{
  /* center the image */
 display: block;
 margin-left: auto;
 margin-right: auto;
 /* resize*/
 max-width: 8%;
 height: auto;
 position: relative;
 top: 19%;

}

/* SPLIT SCREEN, 50vh for phone to split horizontally, adapted from: https://www.youtube.com/watch?v=bh3UAetYkUI&app=desktop */
.categories, .about{
  height: 50vh;
  width: 100%;
}

.categories{
  background-color: #fcc0d0;
}

.about{
  background-color: #eb4335;
}

/* header box positioning */
.box{
  display: flex;
  justify-content: center;


}
#headerL{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 55px;
  color: #eb4335;
  text-align: center;
  margin-top: 40px;
  /* half background tutorial: https://thirtyeightvisuals.com/blog/low-highlight-heading-links-squarespace */
  background: linear-gradient(180deg, #fcc0d0 70%, white 30%);

}
 #pink{
   color: #fcc0d0;
 }

.info a{
  text-decoration: none;
  color: inherit;
}

.info a:hover{
  color:white;
  border: 1px solid white;
  background-color: #eb4335;
  display: inline-block;

}
#headerR{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 55px;
  color: white;
  text-align: center;
  margin-top: 40px;
  background: linear-gradient(180deg, #eb4335 70%, #fcc0d0 30%);

}

.catLinks{
  margin-top: 10%;
}

/* style for buttons in the catLinks class */
.catLinks h3{
  text-align: center;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 24px;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid white;
}


  .catLinks h3:hover{
  color:#fcc0d0;
  border: 1px solid white;
  background-color: white;

}

/* override bootstrap style */
.catLinks a {
  text-decoration: none;
  color: inherit;
}

.catLinks a:hover{
  text-decoration: none;
  color: inherit;
}


.info{
  width: 100%;
  position: absolute;
  background:white;
  color: #eb4335;
  bottom: 0;
}

.info p {
  padding: 5px 0;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 24px;
}



/*on computer, vertically*/
@media screen and (min-width:768px)
{
  .categories, .about{
    height: 100vh;
  }
}

/* fit to phone screen */
@media screen and (max-width:768px)
{
  .catLinks h3{
    font-size: .8em;
    padding: 5px;
  }
 .info p{
   font-size: .5em;
 }

 p#aboutTxt{
   font-size: .6em;
 }

 p#info{
   font-size: .4em;

 }

 #headerR , #headerL{
   font-size: 1.5em;
 }
  .catLinks{
    margin-top: 5%;
  }
  h1#bigName{
    font-size:2.5em;
  }
  h2#desc{
    font-size: 1.8em;
  }
  p#welcome-info{
    font-size:1em;
  }
}
