html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
}

/* parallax effect adapted from http://fuzzytolerance.info/blog/2013/09/20/2013-09-20-simple-header-and-footer-parallax-effect/ */
.welcome-page{
    position: fixed;
    top: 0;
    width: 100%;
    /* places behind */
    z-index: -1;
    height: 100vh;
    background-color: white;
}
/* creates space at top so welcome page can be seen*/
.wrapper-parallax {
    margin-top: 100vh;
}

.content {
    position: relative;
    /* places in front */
    z-index: 1;
    background: white;
    /* fit screen */
    min-height: 100vh;
}

/* -------------------------------- */

#bigName{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  position: relative;
  /* 5% down from original positon*/
  top: 5%;

}

#desc{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  position: relative;
  /* 5px up from original position */
  bottom: 5px;

}

#homeBolt{
  /* center the gif */
 display: block;
 margin-left: auto;
 margin-right: auto;
 /*resize */
 max-width: 8%;
 height: auto;
 position: relative;

}





#smileyface{
  /* center the gif */
 display: block;
 margin-left: auto;
 margin-right: auto;
 /* resize*/
 width: 18%;
 height: auto;
 position: relative;
 /* top: 3%; */
}


.welcome-box{
  /* center */
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  /* so text does not fill entire screen in one line */
  width: 50%;
  top: 5%;

}

#welcome-info{
  color:55e69;
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  font-size:24px;
  text-align:center;
}

#arrows{
  /* center the gif */
 display: block;
 margin-left: auto;
 margin-right: auto;
 /* resize*/
 max-width: 8%;
 height: auto;
 position: relative;
 top: 4%;
}
